@import "./main.scss";
/*-----------------------------------*\
  #INSTRUCTION
\*-----------------------------------*/

.instruction :is(.section-title, .section-text) {
    text-align: center;
}

.instruction .section-title {
    margin-block-end: 15px;
}

.instruction-list {
    display: grid;
    gap: 30px;
    margin-block-start: 50px;
}

.instruction-card {
    text-align: center;
}

.instruction-card .card-banner {
    transition: var(--transition-2);
}

.instruction-card:hover .card-banner {
    transform: rotateY(1turn);
}

.instruction-card .img {
    margin-inline: auto;
    margin-block-end: 12px;
}

.instruction-card .card-subtitle {
    font-size: var(--fs-8);
    font-weight: var(--fw-700);
    text-transform: uppercase;
}

.instruction-card .card-title {
    font-size: var(--fs-4);
    margin-block: 5px 15px;
}

.instruction-card .card-text {
    padding-inline: 20px;
}

@import "./media.scss"